.Home .landingCont {
    padding: 80px 0;
    text-align: center;
}

.Home{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.Home .todo{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.Home h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}


.Home .landingCont p {
    color: #999;
}

.pull-right-button{
    float: right;
    margin-right: 2px;
}