.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(33, 33, 33, 0.85);
    z-index: 1000;
}

.modal-custom{
    position: fixed;
    top: 20%;
    left: 10%;
    right: 10%;
    bottom: 20%;
    z-index: 1001;
}