.App {
   margin-top: 15px;
 }

.App .navbar-brand {
  font-weight: bold;
}

body {
  /* background-image: url("satd.jpg");
     background-repeat: no-repeat;
     background-position: center;
     opacity: 0.8;*/
}

html, body{
   /* position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: scroll;*/
}